{% comment %}
  The contents of the product.details.liquid template can be found in /sections/product-details-template.liquid
{% endcomment %}

<div class="product-details template">
  {% section 'product-top-reviews' %}

  {% section 'product-details-template' %}
  {% section 'product-benefits' %}
  {% section 'components-section' %}
  {% section 'product-page-specifications' %}
  {% section 'product-recommendations' %}
  {% section 'faq' %}
  {% section 'additional-content' %}
  {% comment %}
  	{% section 'product-page-blog' %}
  {% endcomment %}
  {% section 'product-reviews' %}
</div>

{% render 'product__structured-data' %}
